body {
    width: 100%;
    height: 100%;
    background-color: #F4F5E8;
    margin:4px 4px 4px 4px;
    display: block;
}
#general-content {
    text-align: center;
    display: block;
    padding: 35px;
}
#main_content {
    color: #03483E;
    font-family: "Trebuchet MS";
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#main-name {
    letter-spacing: 0.125em;
    font-size: 55px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#main-title {
    letter-spacing: 0.125em;
    font-size: 25px;
    margin-top: 7px;
}
#image1 {
    max-width: 250px;
    border-radius: 50%;
}
ul {
    margin-top: 12px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-inline-start: 40px;
    padding-left: 0px;
    margin-left: 0px;
}
li {
    list-style-type: none;
    display: list-item;
}
.icon {
    width: 48px;
    margin-left: 10px;
    margin-right: 10px;
}
#pr {
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 5px;
    margin-bottom: 55px;
}

#sub_contents {
    width: 100%;
    display: block;
    float: left;
    border: 2px;
    
}

.sub_content {
    display: block;
    width: 50%;
    float: left;
    border: 1px;
    
}

.bar {
    font-size: 30px;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 7px;
    font-family: "Trebuchet MS"; 
}

.texter {
    display: none;
    color: #404040;
    font: .9em verdana, arial, helvetica, sans-serif;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 7px;
    margin-bottom: 12px;
}
label {
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
}
#contact {
    padding: 35px;
    display: block;
    margin: 0 auto;
}
#projects {
    padding: 35px;
    display: block;
    margin: 0 auto;
}
    
/*
body {                               (body değiştirilecek)          ana sayfada değişen resim için:
	background:url("images/1.jpg");
	animation:image 5s infinite alternate;
	-webkit-animation:image 5s infinite alternate;
	-moz-animation:image 5s infinite alternate;
}
@keyframes image {
	0%{
		background:url("images/1.png");
	}

	25%{
		background:url("images/2.png");
	}

	50%{
		background:url("images/3.png");
	}

	75%{
		background:url("images/4.png");
	}

	100%{
		background:url("images/5.png");
	}
}
*/